
.Category {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  text-align: center;
  margin-left: 150px;
  margin-bottom: 20px;
  width: 100%; 
}

.Category h1 {
  margin: 0;
  cursor: pointer;
  font-size: 15px;
}

.Category img {
  max-width: 80%;
  height: 70%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
